.servex-clientes-logo {
    max-width: 150%;
    display: block;
    max-height: 50px;
    margin: auto;
}

.w70 {
    width: 150px;
    text-align: center;
}

.w500 {
    width: 500px;
    text-align: center;
}