<div class="row text-left">
    <div class="col-12">
      <div *ngIf="idCategory === 'new'" class="content-header">Create Category</div>
      <div *ngIf="idCategory !== 'new'" class="content-header">Update Category</div>
    </div>
  </div>
  
  <section>
    <div class="row text-left">
      <div class="col-md-12">
  
        <div *ngIf="cargando" class="card">
          <div class="card-header">
          </div>
          <div class="card-content">
            <div class="card-body servex_nothing_toshow">
              <h2>
                <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
              </h2>
            </div>
          </div>
        </div>
  
        <div *ngIf="idCategory === 'new'" class="row">
          <div class="col-md-6">
            <div *ngIf="!cargando" class="card">
              <div class="card-content">
                <div class="card-body">
                  <form ngNativeValidate #f="ngForm" (ngSubmit)="createCategory(f.value)" class="form">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-user"></i></h4>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <input type="text" [(ngModel)]="categoria.cat_name" minlength="3" class="form-control"
                            placeholder="Name" name="cat_name" required>
                        </div>
                        <div class="form-group col-md-12">
                          <input type="text" [(ngModel)]="categoria.cat_description" minlength="3" class="form-control"
                            placeholder="Description" name="cat_description">
                        </div>
                      </div>

                      <div class="form-group col-md-12 text-center">
                        <button [disabled]="categoria.cat_name === ''" class="btn btn-success-servex" type="button" *ngIf="!fileSubir2" (click)="callUploadFileProd()">Seleccionar Archivo ZIP</button>
                        <button class="btn btn-success-servex" type="button" *ngIf="fileSubir2" (click)="callUploadFileProd()">Archivo: {{fileSubirName}}</button>
                      </div>
                      <div class="form-group col-md-12" style="display: none !important">
                        <input (change)="selectFile( $event.target.files[0])" name="cat_file" type="file" class="custom-file-input" id="inputGroupFile02" name="inputGroupFile02">
                        <span class="custom-file-control"></span>
                      </div>
                    </div>
  
                    <div class="custom-file  mx-auto d-block" style="display: none !important">
                        <input (change)="selectImg( $event.target.files[0])"  name="cat_img" type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
  
                    <div class="form-actions">
                      <a [routerLink]="['/categories']" routerLinkActive="router-link-active"
                        class="btn btn-danger-servex mar-10">
                        <i class="fa fa-mail-reply"></i> Back
                      </a>
                      <button type="submit" class="btn servex_primary_btn3">
                        <i class="fa fa-check-square-o"></i> Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6">
            <div *ngIf="!cargando" class="card">
              <div class="card-content">
                <div class="card-body">
                    <form class="form">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-image"></i></h4>
                            <div class="form-group col-md-12">  
                              <img *ngIf="!imgTemp" [src]="categoria.cat_img | image:'categories'" name="cat_img" class="max-100 img-border gradient-summer pointer" (click)="callUploadImg()">
                              <img *ngIf="imgTemp" [src]="imgTemp" name="cat_img" class="max-100 img-border gradient-summer pointer"  (click)="callUploadImg()">
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
        <div *ngIf="idCategory !== 'new'" class="row">
            <div class="col-md-6">
              <div *ngIf="!cargando" class="card">
                <div class="card-content">
                  <div class="card-body">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="updateCategory(f.value)" class="form">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-user"></i></h4>
                        <div class="row">
                          <div class="form-group col-md-12">
                            <input type="text" [(ngModel)]="categoria.cat_name" minlength="3" class="form-control"
                              placeholder="Name" name="cat_name" required>
                          </div>
                          <div class="form-group col-md-12">
                            <input type="text" [(ngModel)]="categoria.cat_description" minlength="3" class="form-control"
                              placeholder="Description" name="cat_description">
                          </div>
                        </div>
                        <hr>
                        <div class="form-group col-md-12 text-center">
                          <button [disabled]="categoria.cat_name === ''" class="btn btn-success-servex" type="button" *ngIf="!fileSubir2" (click)="callUploadFileProd()"><i class="fa fa-cloud-upload"></i> Upload new ZIP</button>
                          <button class="btn btn-success-servex" type="button" *ngIf="fileSubir2" (click)="callUploadFileProd()">File: {{fileSubirName}}</button>
                        </div>
                        <div class="form-group col-md-12" style="display: none !important">
                          <input (change)="selectFile( $event.target.files[0])" name="cat_file" type="file" class="custom-file-input" id="inputGroupFile02" name="inputGroupFile02">
                          <span class="custom-file-control"></span>
                        </div>
                        <div class="form-group col-md-12 text-center">
                          <button class="btn servex_primary_btn3" type="button" *ngIf="categoria.cat_file && categoria.cat_file !== ''" (click)="downloadFile(categoria.cat_file)"><i class="fa fa-cloud-download"></i> Download current ZIP file {{categoria.cat_file}}</button>
                          <button [disabled]="categoria.cat_file === null || categoria.cat_file === ''" class="btn servex_primary_btn3" type="button" *ngIf="categoria.cat_file === null || categoria.cat_file === ''" (click)="callUploadFileProd()">This category not have files to download</button>
                        </div>

                        <div class="form-group col-md-12 text-center" *ngIf="categoria.cat_file && categoria.cat_file !== ''">
                          <button class="btn btn-danger-servex" type="button" (click)="deleteFiles(categoria._id)"><i class="fa fa-trash"></i> Delete ZIP file</button>
                        </div>
                      </div>
    
                      <div class="custom-file  mx-auto d-block" style="display: none !important">
                          <input (change)="selectImg( $event.target.files[0])"  name="cat_img" type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
    
                      <div class="form-actions">
                        <a [routerLink]="['/categories']" routerLinkActive="router-link-active"
                          class="btn btn-danger-servex mar-10">
                          <i class="fa fa-mail-reply"></i> Back
                        </a>
    
                        <button type="submit" class="btn servex_primary_btn3">
                          <i class="fa fa-check-square-o"></i> Update Category
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-6">
              <div *ngIf="!cargando" class="card">
                <div class="card-content">
                  <div class="card-body">
                      <form class="form">
                          <div class="form-body">
                              <h4 class="form-section"><i class="ft-image"></i></h4>
                              <div class="form-group col-md-12">
                                <!-- <img [src]="categoria.cat_img | image:'users'" name="cat_img" class="max-100"> -->
    
                                <img *ngIf="!imgTemp" [src]="categoria.cat_img | image:'categories'" name="cat_img" class="max-100 img-border gradient-summer pointer" (click)="callUploadImg()">
                                <img *ngIf="imgTemp" [src]="imgTemp" name="cat_img" class="max-100 img-border gradient-summer pointer"  (click)="callUploadImg()">
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </section>