<div class="row text-left">
    <div class="col-12">
      <div *ngIf="idSubcategory === 'new'" class="content-header">Create Subcategory</div>
      <div *ngIf="idSubcategory !== 'new'" class="content-header">Update Subcategory</div>
    </div>
  </div>
  
  <section>
    <div class="row text-left">
      <div class="col-md-12">
  
        <div *ngIf="cargando" class="card">
          <div class="card-header">
          </div>
          <div class="card-content">
            <div class="card-body servex_nothing_toshow">
              <h2>
                <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
              </h2>
            </div>
          </div>
        </div>
  
        <div *ngIf="idSubcategory === 'new'" class="row">
          <div class="col-md-6">
            <div *ngIf="!cargando" class="card">
              <div class="card-content">
                <div class="card-body">
                  <form ngNativeValidate #f="ngForm" (ngSubmit)="createSubcategory(f.value)" class="form">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-user"></i></h4>
                      <div class="row">
                        <div class="form-group col-md-12">
                          <input type="text" [(ngModel)]="subcategoria.subcat_name" minlength="3" class="form-control"
                            placeholder="Name" name="subcat_name" required>
                        </div>
                        <div class="form-group col-md-12">
                          <input type="text" [(ngModel)]="subcategoria.subcat_description" minlength="3" class="form-control"
                            placeholder="Description" name="subcat_description" required>
                        </div>
                      </div>
                      <hr>
                        <div class="row">
                          <div class="form-group col-md-12">
                          </div>
                        </div>
                    </div>
  
                    <div class="custom-file  mx-auto d-block" style="display: none !important">
                        <input (change)="selectImg( $event.target.files[0])"  name="subcat_img" type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
  
                    <div class="form-actions">
                      <a [routerLink]="['/categories']" routerLinkActive="router-link-active"
                        class="btn btn-danger-servex mar-10">
                        <i class="fa fa-mail-reply"></i> Back
                      </a>
                      <button type="submit" class="btn servex_primary_btn3">
                        <i class="fa fa-check-square-o"></i> Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6">
            <div *ngIf="!cargando" class="card">
              <div class="card-content">
                <div class="card-body">
                    <form class="form">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-image"></i></h4>
                            <div class="form-group col-md-12">  
                              <img *ngIf="!imgTemp" [src]="subcategoria.subcat_img | image:'categories'" name="subcat_img" class="max-100 img-border gradient-summer pointer" (click)="callUploadImg()">
                              <img *ngIf="imgTemp" [src]="imgTemp" name="subcat_img" class="max-100 img-border gradient-summer pointer"  (click)="callUploadImg()">
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
        <div *ngIf="idSubcategory !== 'new'" class="row">
            <div class="col-md-6">
              <div *ngIf="!cargando" class="card">
                <div class="card-content">
                  <div class="card-body">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="updateSubcategory(f.value)" class="form">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-user"></i></h4>
                        <div class="row">
                          <div class="form-group col-md-12">
                            <input type="text" [(ngModel)]="subcategoria.subcat_name" minlength="3" class="form-control"
                              placeholder="Name" name="subcat_name" required>
                          </div>
                          <div class="form-group col-md-12">
                            <input type="text" [(ngModel)]="subcategoria.subcat_description" minlength="3" class="form-control"
                              placeholder="Description" name="subcat_description" required>
                          </div>
                        </div>
                        <hr>
                      <div class="row">
                          <div class="form-group col-md-12">
                          </div>
                        </div>
                      </div>
    
                      <div class="custom-file  mx-auto d-block" style="display: none !important">
                          <input (change)="selectImg( $event.target.files[0])"  name="subcat_img" type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
    
                      <div class="form-actions">
                        <a [routerLink]="['/categories']" routerLinkActive="router-link-active"
                          class="btn btn-danger-servex mar-10">
                          <i class="fa fa-mail-reply"></i> Back
                        </a>
    
                        <button type="submit" class="btn servex_primary_btn3">
                          <i class="fa fa-check-square-o"></i> Update Subcategory
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-6">
              <div *ngIf="!cargando" class="card">
                <div class="card-content">
                  <div class="card-body">
                      <form class="form">
                          <div class="form-body">
                              <h4 class="form-section"><i class="ft-image"></i></h4>
                              <div class="form-group col-md-12">
                                <!-- <img [src]="subcategoria.subcat_img | image:'users'" name="subcat_img" class="max-100"> -->
    
                                <img *ngIf="!imgTemp" [src]="subcategoria.subcat_img | image:'categories'" name="subcat_img" class="max-100 img-border gradient-summer pointer" (click)="callUploadImg()">
                                <img *ngIf="imgTemp" [src]="imgTemp" name="subcat_img" class="max-100 img-border gradient-summer pointer"  (click)="callUploadImg()">
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </section>