<div class="row text-left">
    <div class="col-12">
      <div *ngIf="idSubcategory === 'new'" class="content-header">Create Subcategory</div>
      <div *ngIf="idSubcategory !== 'new'" class="content-header">Update Subcategory</div>
    </div>
  </div>
  
  <section>
    <div class="row text-left">
      <div class="col-md-12">
  
        <div *ngIf="cargando" class="card">
          <div class="card-header">
          </div>
          <div class="card-content">
            <div class="card-body servex_nothing_toshow">
              <h2>
                <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
              </h2>
            </div>
          </div>
        </div>
  
        <div *ngIf="idSubcategory === 'new'" class="row">
          <div class="col-md-6">
            <div *ngIf="!cargando" class="card">
              <div class="card-content">
                <div class="card-body">
                  <form ngNativeValidate #f="ngForm" (ngSubmit)="createSubcategory(f.value)" class="form">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-user"></i></h4>

                      <div class="row">
                        <div class="form-group col-md-12">
                          <h4>Seleccione el cliente</h4>
                            <ng-select (change)="loadCatCli()" (clear)="inactiveFields()" [items]="clientes" bindLabel="client_bussiness_name" bindValue="_id" name="subcategoria.subcat_client" [virtualScroll]="true" placeholder="Select clients"
                            [(ngModel)]="subcategoria.subcat_client">
                          </ng-select>
                          
                        </div>
                      </div>

                      <div class="row" animated="fadeIn">
                        <div class="form-group col-md-12">
                          <h4>Seleccione la categoria del cliente</h4>
                            <ng-select (change)="loadSubcat1()" (clear)="inactiveFields2()"  [disabled]="subcategoria.subcat_client === ''" (clear)="inactiveFields2()" [items]="categories" bindLabel="catcli_category.cat_name" bindValue="catcli_category._id" name="subcategoria.subcat_category" [virtualScroll]="true" placeholder="Select category"
                            [(ngModel)]="subcategoria.subcat_category">
                          </ng-select>
                          
                        </div>
                      </div>

                      <div *ngIf="subcategories1.length > 0" class="row" animated="fadeIn">
                        <div class="form-group col-md-12">
                          <h4>Select a subcategory (OPTIONAL)</h4>
                            <ng-select (change)="loadSubcat2()" (clear)="inactiveFields3()"  [disabled]="subcategoria.subcat_client === ''" (clear)="inactiveFields2()" [items]="subcategories1" bindLabel="master_subcategory1.subcat_name" bindValue="master_subcategory1._id" name="subcategoria.subcat_subcategory1" [virtualScroll]="true" placeholder="Select a subcategory"
                            [(ngModel)]="subcategoria.subcat_subcategory1">
                          </ng-select>
                        </div>
                      </div>

                      <div *ngIf="subcategories2.length > 0" class="row" animated="fadeIn">
                        <div class="form-group col-md-12">
                          <h4>Select a subcategory level 2 (OPTIONAL)</h4>
                            <ng-select (change)="loadSubcat3()" (clear)="inactiveFields4()"  [disabled]="subcategoria.subcat_client === ''" (clear)="inactiveFields2()" [items]="subcategories2" bindLabel="master_subcategory2.subcat_name" bindValue="master_subcategory2._id" name="subcategoria.subcat_subcategory2" [virtualScroll]="true" placeholder="Select a subcategory"
                            [(ngModel)]="subcategoria.subcat_subcategory2">
                          </ng-select>
                        </div>
                      </div>

                      <div *ngIf="subcategories3.length > 0" class="row" animated="fadeIn">
                        <div class="form-group col-md-12">
                          <h4>Select a subcategory level 3 (OPTIONAL)</h4>
                            <ng-select (change)="lastSubcategory()" (clear)="inactiveFields5()"  [disabled]="subcategoria.subcat_client === ''" (clear)="inactiveFields2()" [items]="subcategories3" bindLabel="master_subcategory3.subcat_name" bindValue="master_subcategory3._id" name="subcategoria.subcat_subcategory3" [virtualScroll]="true" placeholder="Select a subcategory"
                            [(ngModel)]="subcategoria.subcat_subcategory3">
                          </ng-select>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-12">
                          <input type="text" [disabled]="subcategoria.subcat_category === ''" [(ngModel)]="subcategoria.subcat_name" minlength="3" class="form-control"
                            placeholder="Name" name="subcat_name" required>
                        </div>
                        <div class="form-group col-md-12">
                          <input type="text" [disabled]="subcategoria.subcat_category === ''" [(ngModel)]="subcategoria.subcat_description" minlength="3" class="form-control"
                            placeholder="Description" name="subcat_description">
                        </div>
                      </div>

                      <div class="form-group col-md-12 text-center">
                        <button [disabled]="subcategoria.subcat_name === ''" class="btn btn-success-servex" type="button" *ngIf="!fileSubir2" (click)="callUploadFileProd()">Select ZIP file</button>
                        <button class="btn btn-success-servex" type="button" *ngIf="fileSubir2" (click)="callUploadFileProd()">File: {{fileSubirName}}</button>
                      </div>
                      <div class="form-group col-md-12" style="display: none !important">
                        <input (change)="selectFile( $event.target.files[0])" name="subcat_file" type="file" class="custom-file-input" id="inputGroupFile02" name="inputGroupFile02">
                        <span class="custom-file-control"></span>
                      </div>
                      <p *ngIf="alert" class="alert-danger alert-servex-danger">Para almacenar una subcategoría debe seleccionar un <strong>cliente</strong> y una <strong>categoría padre</strong>!</p>
                    </div>
  
                    <div class="custom-file  mx-auto d-block" style="display: none !important">
                        <input (change)="selectImg( $event.target.files[0])"  name="subcat_img" type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                    <p *ngIf="alertSize" class="alert-warning alert-servex-danger"><strong><i class="fa fa-exclamation-triangle fa-beat" aria-hidden="true"></i> WARNING!:</strong> You are uploading a big file, this will be take a few seconds while we upload the file to the server.</p>
  
                    <div class="form-actions">
                      <a [routerLink]="['/subcategories']" routerLinkActive="router-link-active"
                        class="btn btn-danger-servex mar-10">
                        <i class="fa fa-mail-reply"></i> Back
                      </a>
                      <button [disabled]="subcategoria.subcat_name === ''" type="submit" class="btn servex_primary_btn3">
                        <i class="fa fa-check-square-o"></i> Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6">
            <div *ngIf="!cargando" class="card">
              <div class="card-content">
                <div class="card-body">
                    <form class="form">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-image"></i></h4>
                            <div class="form-group col-md-12">  
                              <img *ngIf="!imgTemp" [src]="subcategoria.subcat_img | image:'subcategories'" name="subcat_img" class="max-100 img-border gradient-summer pointer" (click)="callUploadImg()">
                              <img *ngIf="imgTemp" [src]="imgTemp" name="subcat_img" class="max-100 img-border gradient-summer pointer"  (click)="callUploadImg()">
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
        <div *ngIf="idSubcategory !== 'new'" class="row">
            <div class="col-md-6">
              <div *ngIf="!cargando" class="card">
                <div class="card-content">
                  <div class="card-body">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="updateSubcategory(f.value)" class="form">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-user"></i></h4>

                        <div class="row">
                            <div class="form-group col-md-12">
                              <h4>Cliente</h4>
                              <input type="text" [(ngModel)]="subcategoria.subcat_client['client_bussiness_name']" minlength="3" class="form-control"
                                placeholder="Client" name="subcat_client" required disabled="true">
                            </div>
                            <div class="form-group col-md-12">
                                <h4>Categoría del Cliente</h4>
                                <input type="text" minlength="3" class="form-control" [(ngModel)]="subcategoria.subcat_category['cat_name']"
                                placeholder="Category" name="subcat_category" required disabled="true">
                            </div>
                          </div>

                          <div class="row" *ngIf="subcategoria.subcat_subcategory1">
                            <div class="form-group col-md-12">
                              <h4>Subcategory level 1</h4>
                              <input type="text" [(ngModel)]="subcategoria.subcat_subcategory1['subcat_name']" minlength="3" class="form-control"
                                placeholder="Subcategory" name="subcat_subcategory1" required disabled="true">
                            </div>
                          </div>

                          <div class="row" *ngIf="subcategoria.subcat_subcategory2">
                            <div class="form-group col-md-12">
                                <h4>Subcategory Level 2</h4>
                                <input type="text" minlength="3" class="form-control" [(ngModel)]="subcategoria.subcat_subcategory2['subcat_name']"
                                placeholder="Category" name="subcat_subcategory2" required disabled="true">
                            </div>
                          </div>

                          <div class="row" *ngIf="subcategoria.subcat_subcategory3">
                            <div class="form-group col-md-12">
                                <h4>Subcategory Level 3</h4>
                                <input type="text" minlength="3" class="form-control" [(ngModel)]="subcategoria.subcat_subcategory3['subcat_name']"
                                placeholder="Category" name="subcat_subcategory3" required disabled="true">
                            </div>
                          </div>
  
  
  
                        <div class="row">
                          <div class="form-group col-md-12">
                            <input type="text" [(ngModel)]="subcategoria.subcat_name" minlength="3" class="form-control"
                              placeholder="Name" name="subcat_name" required>
                          </div>
                          <div class="form-group col-md-12">
                            <input type="text" [(ngModel)]="subcategoria.subcat_description" minlength="3" class="form-control"
                              placeholder="Description" name="subcat_description">
                          </div>
                        </div>
                        <hr>
                        <div class="form-group col-md-12 text-center">
                          <button [disabled]="subcategoria.subcat_name === ''" class="btn btn-success-servex" type="button" *ngIf="!fileSubir2" (click)="callUploadFileProd()"><i class="fa fa-cloud-upload"></i> Upload new ZIP</button>
                          <button class="btn btn-success-servex" type="button" *ngIf="fileSubir2" (click)="callUploadFileProd()">File: {{fileSubirName}}</button>
                        </div>
                        <div class="form-group col-md-12" style="display: none !important">
                          <input (change)="selectFile( $event.target.files[0])" name="subcat_file" type="file" class="custom-file-input" id="inputGroupFile02" name="inputGroupFile02">
                          <span class="custom-file-control"></span>
                        </div>
                        <div class="form-group col-md-12 text-center">
                          <button class="btn servex_primary_btn3" type="button" *ngIf="subcategoria.subcat_file && subcategoria.subcat_file !== ''" (click)="downloadFile()"><i class="fa fa-cloud-download"></i> Download current ZIP file {{subcategoria.subcat_file}}</button>
                          <button [disabled]="subcategoria.subcat_file === null || subcategoria.subcat_file === ''" class="btn servex_primary_btn3" type="button" *ngIf="subcategoria.subcat_file === null || subcategoria.subcat_file === ''" (click)="callUploadFileProd()">This category not have files to download</button>
                          <a href="{{url_api}}/files/subcategories/{{subcategoria.subcat_file}}" id="downloadFile" style="display: none !important"></a>
                        </div>

                        <div class="form-group col-md-12 text-center" *ngIf="subcategoria.subcat_file && subcategoria.subcat_file !== ''">
                          <button class="btn btn-danger-servex" type="button" (click)="deleteFiles(subcategoria._id)"><i class="fa fa-trash"></i> Delete ZIP file</button>
                        </div>

                        <p *ngIf="alertSize" class="alert-warning alert-servex-danger"><strong><i class="fa fa-exclamation-triangle fa-beat" aria-hidden="true"></i> WARNING!:</strong> You are uploading a big file, this will be take a few seconds while we upload the file to the server.</p>
                      </div>
    
                      <div class="custom-file  mx-auto d-block" style="display: none !important">
                          <input (change)="selectImg( $event.target.files[0])"  name="subcat_img" type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
    
                      <div class="form-actions">
                        <a [routerLink]="['/subcategories']" routerLinkActive="router-link-active"
                          class="btn btn-danger-servex mar-10">
                          <i class="fa fa-mail-reply"></i> Back
                        </a>
    
                        <button type="submit" class="btn servex_primary_btn3">
                          <i class="fa fa-check-square-o"></i> Update Subcategory
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-6">
              <div *ngIf="!cargando" class="card">
                <div class="card-content">
                  <div class="card-body">
                      <form class="form">
                          <div class="form-body">
                              <h4 class="form-section"><i class="ft-image"></i></h4>
                              <div class="form-group col-md-12">
                                <!-- <img [src]="subcategoria.subcat_img | image:'users'" name="subcat_img" class="max-100"> -->
    
                                <img *ngIf="!imgTemp" [src]="subcategoria.subcat_img | image:'subcategories'" name="subcat_img" class="max-100 img-border gradient-summer pointer" (click)="callUploadImg()">
                                <img *ngIf="imgTemp" [src]="imgTemp" name="subcat_img" class="max-100 img-border gradient-summer pointer"  (click)="callUploadImg()">
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </div>
  </section>