<div class="row text-left">
    <div class="col-12">
      <div *ngIf="idClient === 'new'" class="content-header">Create Client</div>
      <div *ngIf="idClient !== 'new'" class="content-header">Update Client</div>
    </div>
  </div>
  
  <section>
    <div class="row text-left">
      <div class="col-md-12">
  
        <div *ngIf="cargando" class="card">
          <div class="card-header">
          </div>
          <div class="card-content">
            <div class="card-body servex_nothing_toshow">
              <h2>
                <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
              </h2>
            </div>
          </div>
        </div>
  
        <div *ngIf="idClient === 'new'" class="row">
          <div class="col-md-6">
            <div *ngIf="!cargando" class="card max-h-410">
              <div class="card-content">
                <div class="card-body">
                  <form ngNativeValidate #f="ngForm" (ngSubmit)="createClient(f.value)" class="form">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-user"></i></h4>
                      <div class="row">
                          <div class="form-group col-md-12">
                              <input type="text" minlength="4" [(ngModel)]="cliente.client_bussiness_name" class="form-control"
                              placeholder="Bussiness Name" name="client_bussiness_name" required>
                          </div>
                          <div class="form-group col-md-12">
                              <input type="text" [(ngModel)]="cliente.client_description" class="form-control" placeholder="Description"
                                name="client_description" required>
                            </div>
                        </div>
                    </div>
  
                    <div class="custom-file  mx-auto d-block" style="display: none !important">
                        <input (change)="selectImg( $event.target.files[0])"  name="client_logo" type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
  
                    <div class="form-actions">
                      <a [routerLink]="['/clients']" routerLinkActive="router-link-active"
                        class="btn btn-danger-servex mar-10">
                        <i class="fa fa-mail-reply"></i> Back
                      </a>
                      <button type="submit" class="btn servex_primary_btn3">
                        <i class="fa fa-check-square-o"></i> Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6">
            <div *ngIf="!cargando" class="card max-h-410">
              <div class="card-content">
                <div class="card-body">
                    <form class="form">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-image"></i></h4>
                            <div class="form-group col-md-12">  
                              <img *ngIf="!imgTemp" [src]="cliente.client_logo | image:'clients'" name="client_logo" class="img-all-80 img-border gradient-summer pointer" (click)="callUploadImg()">
                              <img *ngIf="imgTemp" [src]="imgTemp" name="client_logo" class="img-all-80 img-border gradient-summer pointer"  (click)="callUploadImg()">
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
  
        <div *ngIf="idClient !== 'new'" class="row">
            <div class="col-md-6">
              <div *ngIf="!cargando" class="card max-h-410">
                <div class="card-content">
                  <div class="card-body">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="updateClient(f.value)" class="form">
                      <div class="form-body">
                        <h4 class="form-section"><i class="ft-user"></i></h4>
                        
                        <div class="row">
                          <div class="form-group col-md-12">
                              <input type="text" minlength="6" [(ngModel)]="cliente.client_bussiness_name" class="form-control"
                              placeholder="Bussiness Name" name="client_bussiness_name" required>
                          </div>
                          <div class="form-group col-md-12">
                              <input type="text" [(ngModel)]="cliente.client_description" class="form-control" placeholder="Description"
                                name="client_description" required>
                            </div>
                        </div>

                          <div class="row">
                              <div class="form-group col-md-12">
                                <h4>Asignar categorías a cliente</h4>
                                  <ng-select [items]="categorias" bindLabel="cat_name" bindValue="_id" name="catcli" [virtualScroll]="true" placeholder="Select categories"
                                  [(ngModel)]="catcli">
                                </ng-select>
                                
                              </div>
                            </div>
                      </div>
    
                      <div class="custom-file  mx-auto d-block" style="display: none !important">
                          <input (change)="selectImg( $event.target.files[0])"  name="client_logo" type="file" class="custom-file-input" id="inputGroupFile01" name="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
    
                      <div class="form-actions">
                        <a [routerLink]="['/clients']" routerLinkActive="router-link-active"
                          class="btn btn-danger-servex mar-10">
                          <i class="fa fa-mail-reply"></i> Back
                        </a>
    
                        <button type="submit" class="btn servex_primary_btn3">
                          <i class="fa fa-check-square-o"></i> Update Client
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-md-6">
              <div *ngIf="!cargando" class="card max-h-410">
                <div class="card-content">
                  <div class="card-body">
                      <form class="form">
                          <div class="form-body">
                              <h4 class="form-section"><i class="ft-image"></i></h4>
                              <div class="form-group col-md-12">
                                <!-- <img [src]="cliente.client_logo | image:'users'" name="client_logo" class="max-100"> -->
    
                                <img *ngIf="!imgTemp" [src]="cliente.client_logo | image:'clients'" name="client_logo" class="img-all-80 img-border gradient-summer pointer" (click)="callUploadImg()">
                                <img *ngIf="imgTemp" [src]="imgTemp" name="client_logo" class="img-all-80 img-border gradient-summer pointer"  (click)="callUploadImg()">
                              </div>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="categorias2.length > 0" class="col-md-6">
                <div *ngIf="!cargando" class="card max-h-410">
                    <div class="card-content">
                      <div class="card-body">

                          <cdk-virtual-scroll-viewport itemSize="100px" class="example-viewport">
                            <ul class="list-group" *cdkVirtualFor="let category of categorias2">
                                <li class="list-group-item">{{ category.catcli_category.cat_name }} 
                                    <button class="btn btn-danger-servex ft_right" (click)="deleteCatcli(category._id)"><i
                                      class="fa fa-trash"></i>
                                  </button>
                                </li>
                            </ul>
                          </cdk-virtual-scroll-viewport>
                          
                      </div>
                    </div>
                  </div>
            </div>
            
          </div>
      </div>
    </div>
  </section>